<div class="mb-0 mt-4">
<i class="fa fa-newspaper-o"></i> Album <strong><%= @album.title %></strong> 
<p class="card-text small"><%= @album.description %></p>
<%= link_to new_album_photo_path(@album) do %>
  <button type="button" class="btn btn-outline-primary btn-sm">Create new photo</button>
<% end %>
</div>
<hr class="mt-2">
<div class="card-columns">
</div>
<!-- /Card Columns-->
